@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap');

:root {
	--main-bg-color: #d9d6d2;
	--main-text-color: #261b26;
	--sub-text-color: #40343f;
	--modal-bg-color: #bfbdba;
	--btn-bg-color: #8c8888;
	--answer-right: #58bf49;
	--answer-wrong: #f21326;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
li {
	font-family: 'Roboto Slab', sans-serif;
}

.container {
	/* width: 350px; */
	/* margin: 0 auto; */
	text-align: center;
	margin-top: 50px;
}

.starting-container {
	/* background-color: var(--main-bg-color); */
	padding: 2em 1em;
}

.list-rules {
	text-align: center;
	list-style-type: none;
	padding-inline-start: 0;
}

.players-form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.players-form input {
	margin-bottom: 20px;
}

.players {
	display: flex;
	justify-content: space-evenly;
}
